.contacto{
    &__main{
        background-image: linear-gradient(to bottom, white, pink);
        display: flex;
        justify-content: center;
        border: 1px black solid;
        align-items: center;
        width: 1000px;
        margin: auto;
    }
    &__text{
        align-items: center;
        justify-content: center;
        font-size: 40px;
        padding: 30px;
    }
    &__form{
        display: grid;
        place-items: center;
        transform: translateY(100px);
        
    }
}
